.kotlin/**/*
.idea/artifacts
.idea/caches
.idea/dictionaries
.idea/inspectionProfiles
.idea/libraries
.idea/modules
.idea/shelf
.idea/assetWizardSettings.xml
.idea/checkstyle-idea.xml
.idea/compiler.xml
.idea/dictionaries.xml
.idea/gradle.xml
.idea/jarRepositories.xml
.idea/kotlinc.xml
.idea/kotlinScripting.xml
.idea/misc.xml
.idea/modules.xml
.idea/navEditor.xml
.idea/render.experimental.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/appInsightsSettings.xml
**/.gradle/
**/build/
**/captures/
**/local.properties
!/gradle/libs.versions.toml
